<ion-view view-title="Help">
    <ion-nav-buttons side="right">
        <button ng-click="gotoMenuThree()" style="border: 1px solid #fff;border-radius: 50%;" class="button button-icon button-clear ion-more theme_icon_button">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="padding">
            <p>Help</p>
            <p>App version V1.3.0</p>
            <div class="list">
                <button class="button button-theme button-calm sepbutton button-full" ng-click="gotoIntroSlider()">App Intro</button>
                <button class="button button-theme button-calm sepbutton button-full"  ng-click="addNewCategory()">Request for new Category</button>
                <button class="button button-theme button-calm sepbutton button-full"  ng-click="shareNow()">Refer a friend</button>
                <button class="button button-theme button-calm sepbutton button-full" ng-show="showAdminChat"  ng-click="wantToChatWithAdmin()">Want to chat with Admin</button>
            </div>
        </div>

    </ion-content>
</ion-view>
