<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content>
        <ion-nav-bar class="theme-bar" animation="none">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon theme_icon_button" ng-click="unpdateUSerInfo()" menu-toggle="left">
                </button>
            </ion-nav-buttons>

        </ion-nav-bar>

        <ion-nav-view name="menuContent" animation="none"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">

        <ion-content class="menu_style">
            <div class="user_info_container clearfix">
                <div class="user_image_container">
                    <img ng-src="{{img_path}}" err-src="img/profile_image.png" />
                </div>
                <div class="user_text_info_container">
                    <h3>{{usr_nm}}</h3>
                    <p>{{usr_location}}</p>
                </div>
            </div>
            <ul class="list menu_list_wrapper">
                <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
                <a href="#/menu/search" class="item  theme-text" menu-close><img src="img/search.png" class="menu-icon">Home</a>
                <!--<a href="#/menu/category" class="item" menu-close>Category</a>-->
                <a href="#/menu/post" class="item  theme-text" menu-close><img src="img/publish.png" class="menu-icon">Publish An Event</a>
                <a href="#/menu/myAds" class="item  theme-text"  menu-close ><img src="img/My_event.png" class="menu-icon">My Events</a>
                <a href="#/menu/myFavorites" class="item  theme-text" menu-close><img src="img/My Favorite Evenets.png" class="menu-icon">My Favourite Events</a>
                <a href="#/menu/myResponses" class="item  theme-text" menu-close ><img src="img/My Enrolled Events.png" class="menu-icon">My Enrolled Events</a>
                <a href="#/menu/upcomingEvent" class="item  theme-text"  menu-close><img src="img/Upcoming Events.png" class="menu-icon">Upcoming Events</a>

                <!--<a href="#/menu/review" class="item" menu-close ng-click="must_login()">Review</a>-->
                <!--<a href="#/menu/feedback" class="item" menu-close ng-click="must_login()">Feedback</a>-->
                <!--<a href="#/menu/proApp" class="item" menu-close>Pro App</a>-->
                <a href="#/menu/adminUsersChatList" ng-show="showUserChatMenu" class="item  theme-text" menu-close><img src="img/profile_image.png" class="menu-icon">Users Chat</a>

                <a href="#/menu/settings" class="item  theme-text" menu-close><img src="img/Settings.png" class="menu-icon">Settings</a>
                <a href="#/menu/help" class="item  theme-text" menu-close><img src="img/Help.png" class="menu-icon">Help</a>
                <a href="#/menu/login" class="item  theme-text" ng-hide="switchlogger" menu-close><img src="img/Logout.png" class="menu-icon">Login</a>
                <a class="item  theme-text" ng-show="switchlogger" menu-close ng-click="logout()"><img src="img/Logout.png" class="menu-icon">Logout</a>
                <!--<a class="item item-icon-left theme-text" menu-close ng-click="exitApp()"><i class="icon ion-android-exit theme-icon"></i>Exit</a>-->

            </ul>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
