<ion-view view-title="Reviews">
    <ion-content>
        <div class="list">
            <div class="review_container  clearfix">
                <!--{{reviewArr}}-->

                <div class="each_review_container clearfix"  ng-repeat="eachReview in rateReviewArr">
                    <div class="row">

                            <div class="user_image_wrap">
                                <img ng-src="{{eachReview.User.image_path}}" err-src="img/profile_image.png" />
                            </div>

                        <div class="col-67">
                            <div class="review_msg_wrapp">
                                <h4 class="user_name">{{eachReview.User.name}}</h4>
                                <div class="user_rating_review clearfix"><div class="user_rating_dom_review" ng-style="{ 'width' : getrateWidth(eachReview.rating)+'%' }"></div><img src="img/rating_grey.png"></div>

                            </div>
                        </div>


                    </div>
                    <!--<div class="row" ng-style="checkMessage(eachReview.message)">
                        <div class="col-100 clearfix">
                            {{eachReview.message}}
                        </div>


                    </div>-->
                  <p class="message_ad ng-binding" ng-style="checkMsg(review.message)" style="padding: 5px; min-height: 95px;">
                    {{eachReview.message}}
                  </p>


                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
