<ion-view view-title="Search list">

    <ion-content ng-controller="searchListCtrl">
        <div class="lrPadding" ng-repeat="searcPosts in posedLists| limitTo:posedLists.length - 1">
            <!--<div class="eachSearchedPost">

                <div class="image_text_container clearfix">
                    <div class="image_container">
                        <img actual-src="http://gd.pacewisdom.com/uploads/post/{{searcPosts.Post.image}}"
                             ng-src="img/default.png"/>
                        <div class="float_button" ng-click="gotoDetailPage(searcPosts)">
                            <span class="float_icon"><i class="ionic ion-chevron-right"></i></span>
                        </div>
                    </div>
                    <div class="post_text ">
                        <div class="search_posted_title padding_title">
                            <h3>{{searcPosts.Post.title}}</h3>
                        </div>

                        <div class="list_bottom_padding clearfix">
                            <span><i class="ionic ion-checkmark"></i>33</span><span><i
                                class="ionic ion-chatbubbles"></i>33</span><span><i class="ionic ion-star"></i>33</span>
                            <div class="more_button"  ng-click="showDetails(searcPosts.Post.post_id)">
                                <span><i class="ionic ion-android-more-vertical"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="paddetails">
                <div class="adsttbox adlisttitle">

                    <h4 class="add_title ng-binding">{{searcPosts.Post.title}} at {{searcPosts.Post.location}}</h4>

                    <!--<div class="adsmrbox" ng-click="showDetails(searcPosts.Post.post_id)"><i class="ion-android-more-vertical"></i></div>-->

                </div>
                <div class="row adsdetails" ng-click="gotoDetailPage(searcPosts)">
                    <div class="col col-50">
                        <div class="add_img_wapper"><img actual-src="{{ROUTES}}uploads/post/{{searcPosts.Post.image}}"
                                                         ng-src="{{ROUTES}}uploads/categories/{{searcPosts.Category.file_path}}" width="100%" height="auto"></div>
                    </div>
                    <div class="col col-50">
                        <p class="ng-binding twosided">{{searcPosts.Post.summary}}</p>
                    </div>
                </div>
                <div class="detadhere">
                    <div class="dkbox">
                        <p>Starts from</p>
                    </div>
                    <div class="ltbox">
                        <p class="ng-binding">{{searcPosts.Post.from_date}}</p>
                    </div>
                    <div class="dkbox">
                        <p>Price</p>
                    </div>
                    <div class="ltbox">
                        <p>{{searcPosts.Post.costing}}</p>
                    </div>
                </div>
                <div class="detadhere">
                    <div class="dkbox">
                        <p>Ends on</p>
                    </div>
                    <div class="ltbox">
                        <p>{{searcPosts.Post.to_date}}</p>
                    </div>
                    <div class="dkbox">
                        <p>Rating</p>
                    </div>
                    <div class="ltbox">
                        <p>{{searcPosts.Post.rating}}</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="padding">

        </div>

        <!--        <script id="review_post.html" type="text/ng-template">
        
                    <div class="review_container clearfix">
                        <rating ng-model="data.rating" max="5" min="0"></rating>
                        <h3>{{data.rating}} Star</h3>
                        <textarea class="text_area_style" placeholder="write a review" ng-model="data.message"></textarea>
                    </div>
        
                </script>
                <script id="abused_post.html"  type="text/ng-template">
                    <textarea class="text_area_style" placeholder="Report message" ng-model="data.message_abuse"></textarea>
                </script>-->
    </ion-content>
</ion-view>

