<ion-view view-title="Active Events Snapshot">
  <ion-nav-buttons side="right">
    <div class="card-count"><p ng-show="showCount">{{data.cardsCount}}</p></div>



  </ion-nav-buttons>
    <ion-content>

        <div class="error-message" ng-show="showLoginError">
            <span><i class="ionic ion-alert-circled"></i></span>

            <h3>Please login to continue</h3>
        </div>


        <div ng-hide="showLoginError">
            <div class="padding">
                <div class="upcoming_events_slide clearfix">
                    <h4 class="slideTitle">UPCOMING EVENT / NOTIFICATION</h4>
                    <span class="noRes" ng-show="showUpcomingError">{{noResUpcoming}}</span>
                    <ion-slide-box on-slide-changed="slideHasChanged($index)">
                        <ion-slide ng-repeat="upcomingAd in upcomingArr">

                           <div class="each_upcoming">
                                <h4><span>{{upcomingAd.Post.title}}</span>  <span>{{upcomingAd.User.name}}<span></h4>
                               <p class="summary">{{upcomingAd.Post.summary}}</p>
                               <div class="time_add">
                                   Time: {{upcomingAd.Post.from_time}}

                               </div>
                               <div class="time_add">
                                   Place:{{upcomingAd.Post.location}}
                               </div>
                           </div>
                        </ion-slide>

                    </ion-slide-box>
                </div>
                <div class="upcoming_events_slide myAds_slide clearfix">
                    <h4 class="slideTitle">My Active Events</h4>
                    <span class="noRes" ng-show="showMyadsError">{{noResMyAds}}</span>
                    <ion-slide-box on-slide-changed="slideHasChanged($index)">
                        <ion-slide ng-repeat="myAd in myAdsArr">

                            <div class="each_upcoming">
                                <h4><span>{{myAd.Post.title}}</span></h4>
                                <p class="summary">{{myAd.Post.summary}}</p>
                                <div class="row res_row clearfix">
                                    <div class="col-33">
                                        <p class="text-center">Responses - {{myAd.Post.total_response}}</p>
                                    </div>
                                    <div class="col-33">
                                        <p class="text-center">Accepted - {{myAd.Post.accepted_count}}</p>
                                    </div>
                                    <div class="col-33">
                                        <p class="text-center">Reviews - {{myAd.Post.review_count}}</p>
                                    </div>
                                </div>
                            </div>

                        </ion-slide>

                    </ion-slide-box>
                </div>
                <div class="upcoming_events_slide myAds_slide clearfix">
                    <h4 class="slideTitle">My Enrolled Events</h4>
                    <span class="noRes" ng-show="showResponseError">{{noResMyResponse}}</span>
                    <ion-slide-box on-slide-changed="slideHasChanged($index)">
                        <ion-slide ng-repeat="myres in myResArr">

                            <div class="each_upcoming">
                                <h4><span>{{myres.Post.title}}</span></h4>
                                <p class="summary">{{myres.Post.summary}}</p>
                                <div class="row res_row clearfix">
                                    <div class="col-33">

                                    </div>
                                    <div class="col-33">
                                        <p class="text-center">Reviews - {{myres.Post.review_count}}</p>
                                    </div>
                                    <div class="col-33">

                                    </div>
                                </div>
                            </div>

                        </ion-slide>

                    </ion-slide-box>
                </div>
            </div>

        </div>
    </ion-content>

</ion-view>
