<ion-view view-title="User Profile">
    <ion-content>
        <div class="padding" ng-show="initShow">

            <div class="user_profile clearfix">
                <div class="row">

                        <div class="user_profile_image clearfix">
                            <img actual-src="{{user.image_path}}"
                                 ng-src="img/profile_image.png"/>
                        </div>

                    <div class="col-67 user_info_text">
                        <p class="review_usr_name">{{user.name}}</p>
                        <div class="user_rating clearfix"><div class="user_rating_dom" ng-style="{ 'width' : getRating(user.avgRating)+'%' }"></div><img src="img/rating_cream_bg.png"></div>
                    </div>
                </div>
            </div>
            <div class="ad_profile_review_container clearfix padding" ng-repeat="ads in adsReviews">
                <div class="title_ad">
                    {{ads.Post.title}}
                </div>


                <div ng-repeat="review in ads.Review" class="review_bck clearfix">
                   <div style="padding: 5px;padding-top: 0;padding-bottom: 0;">
                       <div class="row review_header_ad">
                           <div class="col-75 ad_user_name">
                               {{review.User.name}}
                           </div>
                           <div class="col-25 user_stars">
                               <div class="user_rating clearfix"><div class="user_rating_dom" ng-style="{ 'width' : getRating(review.rating)+'%' }"></div><img src="img/rating_grey.png"></div>
                           </div>
                       </div>
                       <p class="message_ad" ng-style="checkMsg(review.message)">{{review.message}}</p>
                   </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
