<ion-view view-title="Password Settings">
    <ion-content ng-controller="pwdSettingsCtrl" class="padding">
        <div class="list">
            <form name="pwdForm" novalidate="" ng-submit="validatePwd(pwdForm)">
                <label class="item item-input item-stacked-label theme-label"
                       ng-class="{ 'has-error-lr' : pwdForm.old_password.$invalid  && pwdForm.$submitted}">



                    <input type="password" ng-model="pwd.old_password" name="old_password" placeholder="Old Password"
                           ng-minlength="6" required ng-maxlength="18" ng-required="true">
                </label>
                <label class="item item-input item-stacked-label theme-label"
                       ng-class="{ 'has-error-lr' : pwdForm.password.$invalid  && pwdForm.$submitted}">



                    <input type="password" ng-model="pwd.password" name="password" placeholder="New Password"
                           ng-minlength="6" required ng-maxlength="18" ng-required="true">
               </label>
                <label class="item item-input item-stacked-label theme-label"
                       ng-class="{ 'has-error-lr' : pwdForm.repeat_password.$invalid  && pwdForm.$submitted}">




                    <input type="password" ng-model="pwd.repeat_password" name="repeat_password" placeholder="Retype Password"
                           ng-minlength="6" required ng-maxlength="18" ng-required="true">
                </label>

                <button class="button button-block button-theme  button-calm">Change Password</button>
            </form>

        </div>
    </ion-content>
</ion-view>